body {
    font-family: 'Tw Cen MT';
    color: white;
    font-size:20px;
}

h1{
    color:white;
    text-indent:50px;
}

button {
    left:10%;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width:auto;
    padding:14px 40px;
    background-color:#ff0000;
}

    button:hover {
        opacity: 0.6;
    }

.rightreturnbtn {
    left: 10%;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: auto;
    padding: 14px 40px;
    background-color: #111;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    left: 0;
    background-color: #111;
}

.right {
    right: 0;
    background-color: red;
}

.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

    .centered img {
        width: 200px;
        border-radius: 50%;
    }